bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.user
.idea/
*opencover.xml
coverage.xml
TestResults/
/publish/
codeql-pack.lock.yml
/rpmbuild/

# What the fuck is this and why does it keep getting created on build
bin\\Debug/